<span></span>
<div class="auth-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    
    <input type="text" class="form-input" placeholder="username" formControlName="username" (keyup)="updateServerError($event)">

    <input type="password" class="form-input" placeholder="password" formControlName="password">
    <input type="password" class="form-input" placeholder="confirm password" formControlName="passwordconf">

    <input type="text" class="form-input" placeholder="name" formControlName="name">

    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-flash">
      <div *ngIf="username.errors.required">
        Please enter a username.
      </div>
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-flash">
      <div *ngIf="password.errors.required">
        Please enter a password.
      </div>
    </div>

    <div *ngIf="passwordconf.invalid && (passwordconf.dirty || passwordconf.touched)" class="error-flash">
      <div *ngIf="passwordconf.errors.required">
        Please confirm your password.
      </div>
      <div *ngIf="passwordconf.errors.matchOther">
        Passwords do not match.
      </div>
    </div>
    <div class="error-flash" [hidden]="!serverError"> {{ serverErrorMessage }} </div>
    <button class="login-btn" type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>

  <div>Already have an account? <a routerLink="/login">Sign in</a></div>
</div>