{% extends 'index.html' %}

{% block title %}Recommender{% endblock %}

{% block content %}
    <span></span>
    <div id="recommender-wrapper">
        {% if imgsrc %}
            <div id="suggestion-wrapper">
                <img id="uploaded-image" src="{{ imgsrc }}"/>
                <p>Detected: {{ ingredients }}</p>
            
                {% for recipe in recipes %}
                    <div class="suggestion">
  
                        <!-- <div class="save-form">
                            <input class="save-icon" id="save-icon" type="image" src="https://image.flaticon.com/icons/svg/149/149111.svg" width="30px"/>
                        </div> --> 

                        <div style="background: url('{{ recipe.image }}');" class="suggestion-image"></div> 
  
                        <div class="suggestion-text-outer">
                            <div class="suggestion-text-inner"><a href='{{ recipe.url }}'>{{ recipe.title }}</a></div> 
                        </div>
  
                    </div> <!-- suggestion -->
                {% endfor %}
            
            </div> <!-- suggestion-wrapper -->

        {% else %}
            <div id="upload-form-wrapper">
                Upload Image:
                <input id="upload-icon" type="image" src="https://image.flaticon.com/icons/svg/69/69380.svg" width="80px"/>
                <form id="upload-form" method=post enctype=multipart/form-data>
                    <input id="upload-file" type="file" name="file" style="display: none;">
                </form>
            
                {% for message in get_flashed_messages() %}
                    <div class="error-flash">{{ message }}</div>
                {% endfor %}
            </div> <!-- upload-form-wrapper -->
        {% endif %}
    </div>

    <script>
        $("input[id='upload-icon']").click(function() {
            $("input[id='upload-file']").click();
        });

        if (document.getElementById("upload-file") != null) {
            document.getElementById("upload-file").onchange = function() {
                document.getElementById("upload-form").submit();
            };
        }

        $("input[id='save-icon']").click(function(){
            alert("hi");
            $.post("{{ url_for('recommender.save') }}", function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
            });
        });

    </script>
{% endblock %}


<!-- TODO: Get upload to work (into temp folders), as well figuring out how to use tensorflow or pytorch in FLask. Then deploy to Amazon or similar  -->