{% extends 'recommender.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div id="settings-wrapper">
        <form id="settings-form" method=post>
            <div id="settings-form-inner">
                <p class="settings-text">Ingredients to exclude:</p>
                {% for option in options %}
                    <input class="settings-option" type="checkbox" name="{{ option[0] }}" value=1 {{ option[1] }}><label class="settings-label">{{ option[0] }}</label><br>
                {% endfor %}
            </div>
            <button class="save-btn" type="submit">Save Settings</button>
        </form>
    </div>
{% endblock %}
