<!doctype html>

<title>{% block title %}{% endblock %} - Flaskr</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Ubuntu|Work+Sans" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if g.user %}
  <h1>Recipe Recommender fdjaskl</h1>
  <nav>
    <li><span>{{ g.user['username'] }}</span>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
  </nav>
{% else %}
  <h1>Recipe Recommender</h1>
{% endif %}


<body>
  <div class="auth-form-outer">
    <div class="auth-form-inner">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
