<!doctype html>

<title>{% block title %}{% endblock %} - Flaskr</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Ubuntu|Work+Sans" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <!-- Sidebar -->
    <div id="sidebar">
        <li class="sidebar-brand">
            <a href="https://github.com/jonathanshuai/springboard-capstone2">
                Quick Recipe
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('recommender.index') }}">
                Recommendations
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('recommender.recipes') }}">
                My Recipes
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('recommender.settings') }}">
                Settings
            </a>
        </li>
    </div>

    <div id="page-content-wrapper">
        {% block content %}{% endblock %}
    </div>
</body>