<!-- Sidebar -->
<div [hidden]="!navbarVisible" id="sidebar">
    <li class="sidebar-brand">
        <a href="https://github.com/jonathanshuai/springboard-capstone2">
            Quick Recipe
        </a>
    </li>
    <li class="sidebar-item">
        <a routerLink="/">
            Recommendations
        </a>
    </li>
   <li class="sidebar-item">
        <a routerLink="/recipes">
            My Recipes
        </a>
    </li>
    <li class="sidebar-item">
        <a routerLink="/settings">
            Settings
        </a>
    </li>
    <li class="sidebar-item">
        <a routerLink="/logout">
            Log Out
        </a>
    </li>
</div>
<router-outlet></router-outlet>
